@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "yink";
  font-weight: 400;
  font-style: normal; */

h1 {
  font-family: "hegante", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2,
h3,
h4,
h5,
h6,
input,
.money {
  font-family: "brevia";
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "brevia", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--color-roommates-beige);
  background: linear-gradient(var(--color-roommates-purple), #8838ff);
}